body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioCss{
    margin: auto;
}

.cajaBtn{
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    align-items: center;
}